.menu-preview {
  padding: 4rem 2rem;
  background-color: --color-crema;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--color-acento);
  }

  .menu-cards {
    display: grid;
    gap: 2rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .menu-card {
      background: white;
      border-radius: 16px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
      padding: 1rem;

      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 12px;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.1rem;
        color: #333;
      }
    }
  }

  .menu-button {
    display: inline-block;
    margin-top: 2rem;
    background-color: var(--color-acento);
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      background-color: var(--color-acento);
    }
  }
}
